header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
}

@mixin nav-menu-item-padding {
  padding-inline: 0.625rem;
}

.nav-menu {
  $nav-menu-height: 4.125rem;

  min-height: $nav-menu-height;

  &__header {
    display: flex;
    min-height: $nav-menu-height;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    max-width: var(--max-content-width);
    overflow-y: auto;
    max-height: calc(100% - $nav-menu-height);
    background-color: var(--primary-color);
    z-index: 1;
    left: 0;

    &--hide-vertical {
      transition: all 450ms ease-in-out;
      opacity: 0;
      top: -100%;
      pointer-events: none;
    }

    &--show-vertical {
      transition: all 450ms ease-in-out;
      top: $nav-menu-height;
    }

    &--hide-horizontal {
      transition: all 450ms ease-in-out;
      opacity: 0;
      left: -100%;
      top: $nav-menu-height;
      pointer-events: none;
    }

    &--show-horizontal {
      transition: all 450ms ease-in-out;
      left: 0;
      top: $nav-menu-height;
    }
  }

  &__icon-group {
    display: flex;
    justify-content: center;
    align-content: center
  }

  &__item {
    @include nav-menu-item-padding;

    color: var(--secondary-color);
    width: 100%;
    font-family: "Montserrat-Bold";
    letter-spacing: 0.125rem;
    font-size: 0.75rem;
    line-height: 4.0625rem;
    border-top: 0.0625rem solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--selected {
      color: var(--accent-color);
    }

    &--no-top-border {
      border-top: 0;
    }

    &:hover {
      color: var(--accent-color);
    }

    > a {
      color: inherit;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid var(--icon-border-color-light);
    width: 2.6875rem;
    height: 2.6875rem;
    color: var(--icon-color-dark);
    font-size: 0.75rem;

    &:hover {
      border: 0.0625rem solid var(--icon-border-color-dark);
      color: var(--primary-color);
      background-color: var(--icon-color-dark);
    }
  }

  &__search-item {
    @include nav-menu-item-padding;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;

    &-input {
      font-family: "Montserrat-Bold";
      letter-spacing: 0.125rem;
      font-size: 0.75rem;
      line-height: 4.0625rem;
      border: 0;
      color: #bbbdbf;
      width: 90%;
    }

    &-icon {
      font-size: 0.75rem;
    }
  }

  &__title {
    font-family: "Pacifico";
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5625rem;
    letter-spacing: 0.1875rem;
    font-weight: 400;
  }

  &__cart-dropdown {
    position: relative;
  }

  &__cart-dropdown-content {
    background-color: var(--primary-color);
    display: none;
    position: absolute;
    top: 3.1875rem;
    right: -1rem;
    overflow: hidden;
    z-index: 1;
    width: 7.2rem;

    &--show {
      display: inherit;
    }
  }

  &__cart-dropdown-item {
    font-family: "Montserrat-Bold";
    font-size: 0.75rem;
    color: var(--text-color-dark);
    letter-spacing: 0.0625rem;
    padding-top: 0.75rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--accent-color);
    }

    &--non-selectable {
      &:hover {
        color: var(--text-color-dark);
      }
    }
  }

  &__btn {
    justify-self: right;
    display: flex;
    font-size: 1rem;

    &--rightMost {
      padding-right: 0;
    }
  }

  &__icon {
    color: var(--secondary-color);
  }

  &__icon-hamburger {
    position: absolute;
    background-color: var(--icon-color-dark);
    width: 1.125rem;
    height: 0.125rem;
    border-radius: 0.0625rem;

    &::before,
    &::after {
      content: "";
      background-color: var(--icon-color-dark);
      width: 1.125rem;
      height: 0.125rem;
      position: absolute;
      border-radius: 0.0625rem;
      display: block;
      left: -0.0625rem;
      top: -0.0625rem;
    }

    &::before {
      transform: translateY(-0.3125rem);
    }

    &::after {
      transform: translateY(0.3125rem);
    }
  }

  &__btnText {
    font-family: "Montserrat-Bold";
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    align-self: flex-end;
    margin-left: 0.6875rem;
  }

  &__vertical-line {
    border-left: 0.0625rem solid var(--secondary-color);
    height: 0.9375rem;
    margin-inline: 0.875rem;
  }
}

.icon-hamburger {
  $bar-distance-between: 0.4rem;
  @mixin SingleBarProperties {
    width: 1.125rem;
    height: 0.1rem;
    background-color: var(--icon-color-dark);
    position: absolute;
    border-radius: 0.0625rem;
  }

  width: 1.125rem;
  height: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bars {
    @include SingleBarProperties();
    transition: all 450ms ease-in-out;

    &::before,
    &::after {
      content: "";
      @include SingleBarProperties();
      margin-left: -0.5625rem;
      transform: rotateZ(0deg);
    }

    &::before {
      transform: translateY(-$bar-distance-between);
      transition: all 450ms ease-in-out;
    }

    &::after {
      transform: translateY($bar-distance-between);
      transition: all 450ms ease-in-out;
    }
  }

  &--active > .icon-hamburger__bars {
    transition: all 450ms ease-in-out;
    background-color: #ffffff00;
    &::before {
      transform: rotateZ(45deg);
      transition: all 450ms ease-in-out;
    }
    &::after {
      transform: rotateZ(-45deg);
      transition: all 450ms ease-in-out;
    }
  }
}
